/********** HOME SCREEN **********/

.Home {
  background-color: white;
  color: black;
}

.Home img {
  display: flex;
  margin: auto;
}

.screen {
  max-width: 100%;
  min-height: calc(100vh);
}

/********* SIGN UP **********/

.sign-up-form {
  margin: auto;
  border: 2px solid #e51b24;
  border-radius: .5em;
  width: 50%;
}

.sign-up-title {
  font-size: 2em;
  font-weight: 600;
  justify-content: center;
}

.centered-row {
 justify-content: center;
}

label {
  font-weight: 600;
}

.sign-in-button {
  background-color: #e51b24;
  border: none;
  color: white;
  font-weight: 600;
  justify-content: flex-end;
  margin: 1em;
}

.button-row {
  justify-content: flex-end;
  width: 90%;
}

.file-upload {
  width: 40%;
  padding-top: 1em;
}
